@font-face {
    font-family: jomhuria-web;
    src: url("Jomhuria-Regular.woff2");
}

header {
    margin-right: 124vh;
    margin-top: 2vh;
    position: absolute;
}

body {
    font-family: jomhuria-web;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #E0DBD0;
}

#clusterCountCover,
#epsCover,
#minPtsCover {
    font-family: jomhuria-web;
    color: #441f0b;
    font-size: 25px;
    letter-spacing: 1px;
    display: flex;
    text-align: left;
    margin-right: 37%;
}

canvas {
    background-color: #e7e9e9;
    border: 3px solid black;
    margin-top: 20px;
}

#clusterButton,
#clearButton,
#clusterCount,
#distanceMeasure{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 38.6px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #a27c64;
    color: white;

    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(185, 161, 145);
    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;

    margin-left: 10px;
    margin-right: 10px;
}

#clusterButton:hover,
#clearButton:hover,
#distanceMeasure:hover,
#clusterCount:hover,
#eps:hover,
#minPts:hover {
    background: rgb(183, 157, 133);
    box-shadow: 0 6px 20px rgb(96, 73, 64);
}
#dbscanParametersBlock input[type="range"]::-webkit-slider-runnable-track{
    background-color: #a27c64;
    color: white;
    border-radius: 2px;

}
#dbscanParametersBlock input[type="range"]::-webkit-slider-thumb{
    cursor: grab;
}
#epsValue,
#minPtsValue{
    font-size: 30px;
}

#buttonsBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#buttonsBlock input,
#buttonsBlock button,
#distanceMeasure {
    width: 100%;
    margin-bottom: 10px;
}