@font-face {
    font-family: jomhuria-web;
    src: url("../.././assets/Jomhuria-Regular.woff2");
}

body {
    background-color: #BDAB94;
}
h1 {
    font-family: jomhuria-web;
    color: #441f0b;
    font-size: 80px;
    letter-spacing: 3px;
}
h2 {
    font-family: jomhuria-web;
    color: #441f0b;
    font-size: 35px;
    letter-spacing: 1px;
}
.title {
    margin: 0;
    text-align: center;
}
canvas {
    border: 8px solid #441f0b;
    border-radius: 20px;
    background-color: #EEE7DB;
}
.field {
    background-color: #EEE7DB;
    border: 6px solid #441f0b;
    border-radius: 15px;
}
.main{
    margin-left: 10%;
    margin-right: auto;
}
.buttons {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
button {
    width: 190px;
    height: 100px;
    border-radius: 15px;
    background-color: #EEE7DB;
    border: 0px;
}
.btsStart:hover {
    background-color: bisque;
}
.btsClear:hover {
    background-color: bisque;
}
.message {
    width: 190px;
    height: 100px;
    margin-top: -10%;
}
span{
    font-family: jomhuria-web;
    color: #441f0b;
    font-size: 40px;
}
.slider {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 2%;
    gap: 40px;
    accent-color: #441f0b;

}
.btsCP{
    display: flex;
    flex-direction: column;

}
.btsEM{
    display: flex;
    flex-direction: column;
}
.btsSpeed{
    display: flex;
    flex-direction: column;
}

.mutationSlider::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    appearance: none;
    background-color: #EEE7DB;
    border-radius: 20px;
}
.populationSlider::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    appearance: none;
    background-color: #EEE7DB;
    border-radius: 20px;
}
.speedSlider::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    appearance: none;
    background-color: #EEE7DB;
    border-radius: 20px;
}

output{
    font-family: jomhuria-web;
    color: #441f0b;
    font-size: 35px;
}
label {
    font-family: jomhuria-web;
    color: #441f0b;
    font-size: 40px;
}
#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #616161;

    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;

    width: 300px;
    height: 100%;

    margin: 0;
    padding: 80px 0;

    list-style: none;

    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    margin-bottom: 50px;
    color: #333;

    font-family: jomhuria-web;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 400;

    text-decoration: none;

    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
}