* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: jomhuria-web;
    src: url("Jomhuria-Regular.woff2");
}

body {
    font-family: jomhuria-web;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #E0DBD0;
}

h1 {
    font-family: jomhuria-web;
    color: #441f0b;
    font-size: 70px;
    letter-spacing: 3px;
    margin-top: 5vh;
}

h2 {
    font-family: jomhuria-web;
    color: #441f0b;
    font-size: 30px;
    letter-spacing: 1px;
}

h3 {
    font-family: jomhuria-web;
    color: #b7571b;
    font-size: 30px;
    letter-spacing: 1px;
}

    /*CANVAS*/

.canvas-container {
    width: 400px;
    margin-top: 7vh;
    margin-right: 400px;
    text-align: center;
}
canvas {
    background-color: #ffffff;
    border: 3px solid black;
}

    /*CROPPED CANVAS*/
.cropped-canvas-container {
    width: 400px;
    text-align: center;
    position: absolute;
    margin-top: 370px;
    margin-left: 800px;
}

    /*SLIDER*/

.slider-container {
    width: 400px;
    display: contents;
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #c98345;
    outline: none;
    opacity: 0.6;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #9f5125;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #9f5125;
    cursor: pointer;
}

    /*BUTTONS*/

#clear {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 25px;
    height: 35px;
    line-height: 35px;
    border-radius: 7px;
    background-color: #a27c64;
    color: white;
    font-weight: 400;
    font-size: 14px;
    box-shadow: 0 4px 14px 0 rgb(185, 161, 145);
    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

#clear:hover {
    background: rgb(183, 157, 133);
    box-shadow: 0 6px 20px rgb(96, 73, 64);
}

    /*ARROW*/
#arrow {
    width: 7%;
    position: absolute;
    margin-top: 400px;
    margin-left: 300px;
}

    /*MENU*/
#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #616161;

    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;

    width: 300px;
    height: 100%;

    margin: 0;
    padding: 80px 0;

    list-style: none;

    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    margin-bottom: 50px;
    color: #333;

    font-family: jomhuria-web;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 400;

    text-decoration: none;

    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
}
