:root {
  --index: calc(1vw + 1vh);
}

@font-face {
  font-family: irishgrover-web;
  src: url("./assets/IrishGrover.woff2");
}

h1,h2,h3,h4,h5,h6 {
  font-family: irishgrover-web;
}

body {
  background-color: #E0DBD0;
  font-family: irishgrover-web;
  overflow-x: hidden;
}

.hero {
  float: right;
  margin-right: calc(var(--index) * 6);
  width: calc(var(--index) * 15);
}

.main-title {
  width: calc(var(--index) * 40);
  margin: 0 auto;
  margin-bottom: calc(var(--index) * 3);
  margin-top: calc(var(--index) * 3);
  display: block;
}

.algorithms-up {
  margin-left: calc(var(--index) * 5);
  margin-top: calc(var(--index) * 4.5);
}

.algorithms-down {
  margin-left: calc(var(--index) * 5);
  margin-top: calc(var(--index) * 4.5);
}

.algorithms-up, .algorithms-down {
  display: flex;
}

.algorithms-item {
  width: calc(var(--index) * 4);
  margin-left: calc(var(--index) * 5);
  padding: calc(var(--index) * 1);
  margin-left: calc(var(--index) * 5);
  border-radius: calc(var(--index) * 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

#brain {
  background-color: #9f9291;
}
#brain:hover {
  background-color: #ffffff;
}
#tree {
  background-color: #6D7452;
}
#tree:hover {
  background-color: #ffffff;
}
#astar {
  background-color: #919970;
}
#astar:hover {
  background-color: #ffffff;
}
#genetic {
  background-color: #6D7452;
}
#genetic:hover {
  background-color: #ffffff;
}
#clustering {
  background-color: #919970;
}
#clustering:hover {
  background-color: #ffffff;
}
#ant {
  background-color: #9A8B86;
}
#ant:hover {
  background-color: #ffffff;
}










