* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --color-header: #624D4D;
  --color-text: #6A5555;
  --algorithms-gap: calc(var(--index) * 8)
}

@font-face {
  font-family: jomhuria-web;
  src: url("./assets/Jomhuria-Regular.woff2");
}

h1,h2,h3,h4,h5,h6 {
  font-family: jomhuria-web;
}

body {
  background-color: #E0DBD0;
  font-family: jomhuria-web;
  overflow-x: hidden;
}

.main-title {
  color: var(--color-header);
  font-size: calc(var(--index) * 5.5);
  letter-spacing: 0.5rem;
  text-align: center;
  margin-bottom: calc(var(--index) * 0.5);
}

.algorithm-item {
  max-width: calc(var(--index) * 100);
  margin-left: calc(var(--index) * 4.5);
  margin-right: calc(var(--index) * 4.5);
  margin-bottom: calc(var(--index) * 4.5);
  position: relative;
  display: inline-block;
}

.algorithm-item-up, .algorithm-item-down {
  display: flex;
  align-items: center;
  margin-left: calc(var(--index) * 5.1);
}

.algorithm-text {
  color: var(--color-text);
  font-size: 3rem;
  letter-spacing: 0.1rem;
  text-align: center;
  transition: color 0.5s ease;
}

.algorithm-icon-invisible {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: left 1s ease, opacity 1s ease;
}

.algorithm-item:hover .algorithm-text {
  color: #3b3737;
}
a {
  text-decoration: none;
}

